<body id="page-top">
    <div id="wrapper">
      <app-nav-other-user class="nav-background"></app-nav-other-user>
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <app-header></app-header>
          <div class="container mb-4">
            <div class="card">
              <div class="card p-2">
                <div class="card-header">
                  <div class="col-md-12 main-topic">
                    <h3>Add User
                      <p align="right" class="card-header-btn"> <a class="small" routerLink="/emolyeeForm-list"
                          class="btn btn-primary" appChangeCursor='pointer'> User List</a>
                      </p>
                    </h3>
                  </div>
                </div>
                <div class="card-body" style="padding-top: initial;">
  
                  <br />
                  <div class="container">
                    <form class="user" [formGroup]="emolyeeForm" (ngSubmit)="onSubmit()">
                      <!-- <div id="messageBox"></div> -->
  
                      <div class="row">
                        <div class="col-6 sm-pedding">
                          <div class="form-group">
                            <label for="firstname">First Name: <b class="text-danger">*</b></label>
                            <input type="text" class="form-control" autofocus formControlName="firstname" 
                            [ngClass]="{ 'is-invalid': employee.firstname.errors && employee.firstname.invalid && (employee.firstname.dirty || employee.firstname.touched)}"
                            maxlength="30" placeholder="First Name">
                              <div class="ml-3"
                                *ngIf="employee.firstname.errors && employee.firstname.invalid && (employee.firstname.dirty || employee.firstname.touched)">
                                <small class="text-danger" *ngIf="employee.firstname.errors.required">Please Provide
                                    First Name</small>
                            </div>
                          </div>
                        </div>
                        <div class="col-6 sm-pedding">
                          <div class="form-group">
                            <label for="middlename">Middle Name : </label>
                            <input type="text" class="form-control" autofocus formControlName="middlename"
                              maxlength="30" placeholder="Middle Name">
                         
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-6 sm-pedding">
                            <div class="form-group">
                              <label for="lastname">Last Name: <b class="text-danger">*</b></label>
                              <input type="text" class="form-control" autofocus formControlName="lastname" 
                              [ngClass]="{ 'is-invalid': employee.lastname.errors && employee.lastname.invalid && (employee.lastname.dirty || employee.lastname.touched)}"
                              maxlength="30" placeholder="Last Name">
                                <div class="ml-3"
                                  *ngIf="employee.lastname.errors && employee.lastname.invalid && (employee.lastname.dirty || employee.lastname.touched)">
                                  <small class="text-danger" *ngIf="employee.lastname.errors.required">Please Provide
                                      Last Name</small>
                              </div>
                            </div>
                          </div>


                        <div class="col-6 sm-pedding">
                            <!-- <div class="col-6 sm-pedding"> -->
                                <div class="form-group">
                                  <label for="email">Email: <b class="text-danger">*</b></label>
                                <input type="text"   class="form-control" autofocus formControlName="email" 
                                  [ngClass]="{ 'is-invalid': employee.email.errors && employee.email.invalid && (employee.email.dirty || employee.email.touched)}"
                                  maxlength="50" placeholder="Email">
                                <div class="ml-3"
                                  *ngIf="employee.email.errors && employee.email.invalid && (employee.email.dirty || employee.email.touched)">
                                  <small class="text-danger" *ngIf="employee.email.errors.required">Please Provide Email
                                  </small>
                                  <small class="text-danger" *ngIf="employee.email.errors.pattern">Please Provide Vaild Email</small>
                                </div>
                                </div>
                              <!-- </div>  -->
  
                        </div>
                      </div>
                     <div class="row">
                      <div class="col-6 sm-pedding">
                        <div class="form-group">
                          <label for="contact">Contact: </label>
                          <input class="form-control" formControlName="contact" rows="3" 
                          [ngClass]="{ 'is-invalid': employee.contact.errors && employee.contact.invalid && (employee.contact.dirty || employee.contact.touched) }" 
                          name="contact" placeholder="Contact" maxlength="10">
                          <div class="ml-3"
                            *ngIf="employee.contact.errors && employee.contact.invalid && (employee.contact.dirty || employee.contact.touched)">
                            <small class="text-danger" *ngIf="employee.contact.errors.pattern">Please Provide Valid Phone Number
                            </small>
                          </div>
                        </div>
                 
                    </div>


                    <div class="col-6 sm-pedding">
                        <div class="form-group">
                            <label for="companyid">Company Name: <b
                                    class="text-danger">*</b></label>
                            <select *ngIf="resData" class="form-control"
                                formControlName="companyid" id="companyid"
                                [ngClass]="{ 'is-invalid': employee.companyid.errors && employee.companyid.invalid && (employee.companyid.dirty || employee.companyid.touched)}"
                                (change)="getCompany($event.target.value)">
                                <option value=""> Select Company </option>
                                <option *ngFor="let data of resData.data" [value]="data.companyid">
                                    {{data.companyname}}</option>
                            </select>
                            <div class="ml-3"
                                *ngIf=" employee.companyid.errors && employee.companyid.invalid && (employee.companyid.dirty || employee.companyid.touched)">
                                <small class="text-danger"
                                    *ngIf="employee.companyid.errors.required">Please
                                    Provide
                                    Company Name</small>
                            </div>
                           
                        </div>

                    </div>
                  </div>
                      <br />
                      <div class="row col-2 blue-btn">
                        <input type="submit" value="Add" class="btn btn-primary btn-user btn-block"
                          [disabled]="emolyeeForm.invalid" />
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <app-footer [footerData]="responseData"></app-footer> -->
        </div>
        <!-- <app-footer></app-footer> -->
      </div>
    </div>
  </body>